<div class="flex flex-col items-center justify-center w-full h-full py-2 md:px-0 px-2">
  <div class="w-full md:w-3/4 min-h-screen bg-[#f5f3f4] rounded-md  p-4 space-y-2">
    <div class="flex justify-start align-center">
      <p class="text-3xl font-bold text-gray-900">Applied Petitions</p>
    </div>
    <div class="grid grid-cols-2 justify-between align-center w-full h-full gap-2">
      <div class="grid grid-cols-2 col-span-2 md:col-span-1 justify-between align-center w-full gap-2">
        <button
          class="hidden col-span-1 w-full h-full bg-red-500 py-2 rounded-md text-gray-50  hover:bg-red-800 hover:text-gray-300">
          <span class="flex justify-center items-center">
            Add Petition
            <svg width="20px" height="20px" class="ml-2 stroke-white hover:stroke-gray-300" viewBox="0 0 24 24"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle opacity="0.5" cx="12" cy="12" r="10" stroke-width="2   " />
              <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke-width="1.5" stroke-linecap="round" />
            </svg> </span>
        </button>
        <button #filterDownView (click)="dataViewer.isFilterOn=!dataViewer.isFilterOn"
          class="w-full col-span-1 h-12 py-2 rounded-md  bg-red-500  text-gray-50  hover:bg-red-800 hover:text-gray-300">
          <span class="flex justify-center items-center h-8">Filter
            <svg width="20px" height="20px" class="ml-2 fill-white hover:fill-gray-300" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M15 10.5A3.502 3.502 0 0 0 18.355 8H21a1 1 0 1 0 0-2h-2.645a3.502 3.502 0 0 0-6.71 0H3a1 1 0 0 0 0 2h8.645A3.502 3.502 0 0 0 15 10.5zM3 16a1 1 0 1 0 0 2h2.145a3.502 3.502 0 0 0 6.71 0H21a1 1 0 1 0 0-2h-9.145a3.502 3.502 0 0 0-6.71 0H3z" />
            </svg></span>
          <div *ngIf="dataViewer.isFilterOn" class="relative w-full h-[250px] top-1 z-[10] rounded-b-md bg-red-900">
            <div class=" grid grid-cols-1 gap-y-1 p-2 justify-start items-center">
              <button (click)="dataViewer.onSortChange('date_created')"
                class=" h-8  text-gray-50   hover:text-gray-400">Date
              </button>
              <button (click)="dataViewer.onSortChange('subject_code')"
                class=" h-8 text-gray-50  hover:text-gray-400">Subject
                Code</button>
              <button (click)="dataViewer.onSortChange('status')" class=" h-8 text-gray-50   hover:text-gray-400">Status
              </button>
              <button (click)="dataViewer.onSortChange('subject_name')"
                class=" h-8 text-gray-50   hover:text-gray-400">Subject Name
              </button>
            </div>
          </div>
        </button>

      </div>
      <div class="flex justify-between items-center w-full col-span-2 md:col-span-1 h-full">
        <div class="relative w-full h-full">
          <input type="text" placeholder="Search Petition" [(ngModel)]="dataViewer.searchText"
            (ngModelChange)="dataViewer.onSearchChange($event)"
            class="w-full h-full outline-2 outline-red-950 border-red-950 border-2 rounded-md px-10 py-2">
          <svg xmlns="http://www.w3.org/2000/svg"
            class="absolute top-1/2 left-3 transform -translate-y-1/2 w-5 h-5 text-red-950" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M11 4a7 7 0 100 14 7 7 0 000-14zM21 21l-4.35-4.35" />
          </svg>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-6 w-full h-12 bg-red-800 text-center  text-xs md:text-[16px] text-white rounded-t-md font-semibold justify-center items-center">
      <div class="">Date Created</div>
      <div class="">Subject Code</div>
      <div class="col-span-2">Subject Name</div>
      <div class="">Status</div>
      <div class="">Track Petitions</div>
    </div>

    <div *ngIf="dataViewer.getTrackPetitionToDisplay().length!=0">
      <div *ngFor="let class of dataViewer.getTrackPetitionToDisplay() let i=index"
        class="mt-2 grid grid-cols-6 w-full h-12 bg-red-300 text-center text-xs md:text-[14px] text-gray-900 justify-center items-center">
        <div class="">{{extras.formatDate(class.date_created)}}</div>
        <div class="">{{class.subject_code}}</div>
        <div class="col-span-2">{{extras.toTitleCaseSafe(class.subject_name)}}</div>
        <div class="font-bold"
          [ngClass]="{'text-orange-700 ':class.status=='pending' ,'text-red-700 ':class.status=='denied','text-green-700 ':class.status=='approved'}">
          {{extras.toTitleCaseSafe(class.status)}}</div>
        <div class="flex justify-center items-center">
          <button (click)="isLocate=!isLocate; this.petitionTracker=extras.convertJson(class.petition_tracker)"
            class="w-3/4 h-full flex justify-center items-center bg-red-500 py-2 rounded-md text-gray-50  hover:bg-red-800 hover:text-gray-300">
            <span class="mr-2">
              <svg width="20px" height="20px" viewBox="0 0 24 24"
                class="stroke-gray-50 fill-red-700 hover:stroke-gray-300" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.36328 12.0523C4.01081 11.5711 3.33457 11.3304 3.13309 10.9655C2.95849 10.6492 2.95032 10.2673 3.11124 9.94388C3.29694 9.57063 3.96228 9.30132 5.29295 8.76272L17.8356 3.68594C19.1461 3.15547 19.8014 2.89024 20.2154 3.02623C20.5747 3.14427 20.8565 3.42608 20.9746 3.7854C21.1106 4.19937 20.8453 4.85465 20.3149 6.16521L15.2381 18.7078C14.6995 20.0385 14.4302 20.7039 14.0569 20.8896C13.7335 21.0505 13.3516 21.0423 13.0353 20.8677C12.6704 20.6662 12.4297 19.99 11.9485 18.6375L10.4751 14.4967C10.3815 14.2336 10.3347 14.102 10.2582 13.9922C10.1905 13.8948 10.106 13.8103 10.0086 13.7426C9.89876 13.6661 9.76719 13.6193 9.50407 13.5257L5.36328 12.0523Z"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span><span class="md:flex hidden">Locate</span></button>
        </div>
      </div>
    </div>

    <div *ngIf="dataViewer.multiplierCounter(dataViewer.getTrackPetitionToDisplay().length).length !=0">
      <div *ngFor="let class of dataViewer.multiplierCounter(dataViewer.getTrackPetitionToDisplay().length) let i=index" class="mt-2 grid grid-cols-7 w-full h-12 bg-red-300 text-center text-[12px] md:text-[14px] text-gray-900
          justify-center items-center">
        <div class="col-span-7 font-semibold" *ngIf="class==0 && dataViewer.getTrackPetitionToDisplay().length==0">No
          data found</div>
      </div>
    </div>
    <div class="w-full flex justify-between items-center text-black">
      <button (click)="dataViewer.prevList()"
        class="bg-red-500 hover:bg-red-800 w-20 h-full py-2 rounded-md text-gray-50  hover:text-gray-300">
        Prev
      </button>
      <button (click)="dataViewer.nextList(dataViewer.trackList.length)"
        class="bg-red-500 hover:bg-red-800 w-20 h-full py-2 rounded-md text-gray-50  hover:text-gray-300">
        Next
      </button>
    </div>
  </div>
</div>

<div *ngIf="isLocate">
  <div class="animate-fadeIn fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-[100]">
    <div class="w-[350px] h-5/6 bg-red-300 rounded-md text-red-800 p-4 flex flex-col align-center relative">
      <!-- Header Section -->
      <div class="flex w-full justify-center items-center">
        <p class="text-left text-xl font-bold">Petition Tracker</p>
        <!-- Close Button -->
        <button (click)="isLocate=!isLocate"
          class="absolute top-2 right-2 w-8 h-8 bg-red-500 rounded-full text-white flex items-center justify-center text-[16px]">
          ×
        </button>
      </div>
      <!-- Timeline Section -->
      <div *ngIf="petitionTracker && petitionTracker.length > 0">
        <div class="flex flex-col w-full h-full mt-4">
          <!-- Step 1 -->
          <div *ngFor="let items of petitionTracker">
            <div class="relative top-16 -left-[7px] size-4 rounded-full bg-white z-[110]"></div>
            <div class="flex h-28 w-full pl-2 justify-start items-center border-l-2 border-white">
              <div class="flex flex-col">
                <p class="text-sm w-full text-left ml-2">Received By:<span class="pl-2"> {{items.receivedBy}}</span>
                </p>
                <p class="text-sm w-full text-left ml-2">Date: <span class="pl-2">
                    {{extras.formatDate(items.date)}}</span></p>
                <p class="text-sm w-full text-left ml-2">Time: <span class="pl-2"> {{items.time}}</span></p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noData>
        <p>No petition tracker data available.</p>
      </ng-template>
    </div>

    <div class="hidden absolute inset-0 flex-col items-center justify-center  h-full w-full z-[100]">
      <!-- Spinning Loader -->
      <img src="/assets/images/tupSeal.png" class="animate-spin-5s rounded-full h-20 w-20 " />
      <!-- Loading Text -->
      <p class="mt-4 font-bold text-xs text-gray-50 animate-pulse">loading...</p>
    </div>
  </div>
</div>