.input{
    @apply text-gray-50 focus:ring-0 w-full text-sm h-7 placeholder-gray-50 bg-transparent border-b-[1px] border-gray-400 outline-none  focus:border-white
  }


  /* Remove the spinner for number inputs in Chrome/Safari */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Remove the spinner for Firefox */
  input[type="number"] {
      -moz-appearance: textfield;
  }