<div class="w-full p-4 bg-white shadow rounded-md ">
    <p class="text-gray-700 text-lg text-center font-semibold">Calendar Schedule</p>
    <p class="text-gray-700 text-xs text-center font-semibold">Number of Hours: {{numberOfHours}}</p>
    <p class="text-gray-700 text-xs text-center font-semibold">Number of Units: {{numberOfHoursUnits}}</p>
    <hr>
    <div class="flex justify-between items-center h-6  bg-red-800 text-gray-50">
        <button (click)="prevMonth()" class="text-sm font-bold px-4 py-2 hover:text-gray-400 rounded">&lt;</button>
        <span class="text-sm font-bold">{{ months[currentMonth] }} {{ currentYear }}</span>
        <button (click)="nextMonth()" class="text-lg font-bold px-4 py-2 hover:text-gray-400 rounded">&gt;</button>
    </div>

    <div class="grid grid-cols-7 my-[2px] text-[10px] font-semibold text-center text-gray-50">
        <div *ngFor="let day of daysOfWeek" class="bg-red-700 py-1  md:px-2">{{
            day
            }}</div>
    </div>

    <div class="grid grid-cols-7 ">
        <div *ngFor="let day of calendarDays"
            class="relative  text-center text-xs h-full w-full flex flex-col items-center justify-start bg-gray-50">
            <!-- Day Number -->
            <button *ngIf="day.date && day.clicked==false"
                (click)="calendar.isTime=!calendar.isTime; realDate=day.date.toString(); clickDate=day.clicked"
                class="text-gray-50 w-full bg-red-600 font-semibold justify-center align-center border  ">
                {{ day.date }}
            </button> 
            <button *ngIf="day.date && day.clicked==true"
                (click)="calendar.isTime=!calendar.isTime; dayIsClicked(day.date.toString(),day.clicked)"
                class="text-gray-50 w-full bg-red-800 font-semibold justify-center align-center border  ">
                {{ day.date }}
            </button>
        </div>
    </div>

    <div *ngIf="calendar.isTime" class="w-full h-full grid grid-cols-2 justify-center items-center">
        <div class="w-full h-full flex flex-col">
            <div class="w-20">
                <input [(ngModel)]="fromTime" id="fromTime" name="fromTime" type="time">
            </div>
            <div class="w-20">
                <input [(ngModel)]="toTime" id="toTime" name="toTime" type="time">
            </div>
        </div>
        <div class="w-full h-full flex justify-center items-center">
            <button (click)="dayIsClicked(realDate.toString(),clickDate)">Submit</button>
        </div>
        <div class="w-full col-span-2 text-center">
            {{extras.errorMessage}}
        </div>
    </div>
</div>