<div class="flex flex-col items-center justify-center w-full h-full py-2 md:px-0 px-2">
    <div class="w-full md:w-3/4 min-h-screen bg-[#f5f3f4] rounded-md  p-4 space-y-2">
        <div class="flex justify-start align-center">
            <p class="text-3xl font-bold text-gray-900">Receive Petitions</p>
        </div>
        <div class="grid grid-cols-2 justify-between align-center w-full h-full gap-2">
            <div class="grid grid-cols-2 col-span-2 md:col-span-1 justify-between align-center w-full gap-2">
                <button #filterDownView (click)="extras.isFilterOn=!extras.isFilterOn"
                    class="w-full h-12 col-span-1 py-2 rounded-md  bg-red-500  text-gray-50  hover:bg-red-800 hover:text-gray-300">
                    <span class="flex justify-center h-8 items-center">Filter
                        <svg width="20px" height="20px" class="ml-2 fill-white hover:fill-gray-300" viewBox="0 0 24 24"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15 10.5A3.502 3.502 0 0 0 18.355 8H21a1 1 0 1 0 0-2h-2.645a3.502 3.502 0 0 0-6.71 0H3a1 1 0 0 0 0 2h8.645A3.502 3.502 0 0 0 15 10.5zM3 16a1 1 0 1 0 0 2h2.145a3.502 3.502 0 0 0 6.71 0H21a1 1 0 1 0 0-2h-9.145a3.502 3.502 0 0 0-6.71 0H3z" />
                        </svg></span>
                    <div *ngIf="extras.isFilterOn"
                        class="relative w-full h-[250px] top-1 z-[10] rounded-b-md bg-red-900">
                        <div class=" grid grid-cols-1 gap-y-1 p-2 justify-start items-center">
                            <button (click)="extras.onSortChange('date_created')"
                                class=" h-8  text-gray-50   hover:text-gray-400">Date</button>
                            <button (click)="extras.onSortChange('subject_code')"
                                class=" h-8 text-gray-50  hover:text-gray-400">Subject Code</button>
                            <button (click)="extras.onSortChange('subject_name')"
                                class=" h-8 text-gray-50   hover:text-gray-400">Subject Name</button>
                        </div>
                    </div>
                </button>
            </div>

            <div class="flex justify-between items-center w-full col-span-2 md:col-span-1 h-full">
                <div class="relative w-full h-full">
                    <input type="text" placeholder="Search Petition" [(ngModel)]="extras.searchText"
                        (ngModelChange)="extras.onSearchChange($event)"
                        class="w-full h-full outline-2 outline-red-950 border-red-950 border-2 rounded-md px-10 py-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="absolute top-1/2 left-3 transform -translate-y-1/2 w-5 h-5 text-red-950" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M11 4a7 7 0 100 14 7 7 0 000-14zM21 21l-4.35-4.35" />
                    </svg>
                </div>
            </div>
        </div>
        <div
            class="grid grid-cols-5 px-2 w-full h-12 bg-red-800 text-center  text-xs md:text-[16px] text-white rounded-t-md font-semibold justify-center items-center">
            <div class="">Date</div>
            <div class="">Subject Code</div>
            <div class="col-span-2">Subject Name</div>
            <div class="">Download</div>
        </div>

        <div *ngIf="extras.getReceivePetitionsToDisplay().length!=0">
            <div *ngFor="let class of extras.getReceivePetitionsToDisplay()let i=index">
                <div *ngIf="class.status=='approved'"
                    class="mt-2 grid grid-cols-5 w-full h-12 bg-red-300 text-center text-xs md:text-[14px] text-gray-900 justify-center items-center">
                    <div class=""> {{extras.formatDate(class.date_created)}}
                    </div>
                    <div class="">{{class.subject_code}}</div>
                    <div class="col-span-2">{{extras.toTitleCaseSafe(class.subject_name)}}</div>
                    <div class="flex justify-center items-centers overflow-hidden">
                        <button
                            class="w-full md:w-3/4 h-full flex justify-center items-center font-bold bg-red-500 py-2 px-4 rounded-md text-gray-50  hover:bg-red-800 hover:text-gray-300">
                            <div class="mr-2">
                                <img src="assets/svg/save.svg">
                            </div>Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="extras.multiplierCounter(extras.getReceivePetitionsToDisplay().length).length !=0">
            <div *ngFor="let class of extras.multiplierCounter(extras.getReceivePetitionsToDisplay().length) let i=index"
                class="mt-2 grid grid-cols-7 w-full h-12 bg-red-300 text-center text-[12px] md:text-[14px] text-gray-900
                justify-center items-center">
                <div class="col-span-7 font-semibold"
                    *ngIf="class==0 && extras.getReceivePetitionsToDisplay().length==0">No data found</div>
            </div>
        </div>
        <div class="w-full flex justify-between items-center text-black">
            <button (click)="extras.prevList()"
                class="bg-red-500 hover:bg-red-800 w-20 h-full py-2 rounded-md text-gray-50  hover:text-gray-300">
                Prev
            </button>
            <button (click)="extras.nextList(extras.receiveList.length)"
                class="bg-red-500 hover:bg-red-800 w-20 h-full py-2 rounded-md text-gray-50  hover:text-gray-300">
                Next
            </button>
        </div>
    </div>
</div>