::ng-deep .canvasjs-chart-credit {
    display: none !important;
    /* Completely hide the watermark */
}

.scrollbar-container {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: white transparent; /* For Firefox */
}

.scrollbar-container::-webkit-scrollbar {
    width: 2px; /* Set scrollbar width for WebKit browsers */
    height: 2px; /* Optional: Set height for horizontal scrollbars */
}

.scrollbar-container::-webkit-scrollbar-thumb {
    background-color: white; /* Scrollbar color */
}

.scrollbar-container::-webkit-scrollbar-track {
    background-color: white; /* Track color */
}

label{
    @apply font-semibold
}

textArea{
    @apply p-2 outline-none min-h-28 h-28 max-h-28 border-red-700 border-2 
}