<div class="flex flex-col items-center justify-center w-full overflow-auto h-full py-2 md:px-0 px-2">
    <div class="w-full md:w-3/4 min-h-screen bg-[#f5f3f4] rounded-md  p-4 space-y-2">
        <div class="flex justify-start align-center">
            <p class="text-3xl font-bold text-gray-900">Student Petitions</p>
        </div>
        <div class="grid grid-cols-2 justify-between align-center w-full h-full gap-2">
            <div class="grid grid-cols-2 col-span-2 md:col-span-1 justify-between align-center w-full gap-2">
                <button #filterDownView (click)="dataViewer.isFilterOn=!dataViewer.isFilterOn"
                    class="w-full col-span-1 h-12 py-2 rounded-md  bg-red-500  text-gray-50  hover:bg-red-800 hover:text-gray-300">
                    <span class="flex justify-center items-center h-8">Filter
                        <svg width="20px" height="20px" class="ml-2 fill-white hover:fill-gray-300" viewBox="0 0 24 24"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15 10.5A3.502 3.502 0 0 0 18.355 8H21a1 1 0 1 0 0-2h-2.645a3.502 3.502 0 0 0-6.71 0H3a1 1 0 0 0 0 2h8.645A3.502 3.502 0 0 0 15 10.5zM3 16a1 1 0 1 0 0 2h2.145a3.502 3.502 0 0 0 6.71 0H21a1 1 0 1 0 0-2h-9.145a3.502 3.502 0 0 0-6.71 0H3z" />
                        </svg>
                    </span>
                    <div *ngIf="dataViewer.isFilterOn"
                        class="relative w-full h-[250px] top-1 z-[10] rounded-b-md bg-red-900">
                        <div class=" grid grid-cols-1 gap-y-1 p-2 justify-start items-center">
                            <button (click)="dataViewer.onSortChange('date_created')"
                                class=" h-8  text-gray-50   hover:text-gray-400">Date</button>
                            <button (click)="dataViewer.onSortChange('units')"
                                class=" h-8 text-gray-50   hover:text-gray-400">Units</button>
                            <button (click)="dataViewer.onSortChange('subject_code')"
                                class=" h-8 text-gray-50  hover:text-gray-400">Subject Code</button>
                            <button (click)="dataViewer.onSortChange('subject_name')"
                                class=" h-8 text-gray-50   hover:text-gray-400">Subject Name</button>

                            <button (click)="dataViewer.onSortChange('petition_count')"
                                class=" h-8 text-gray-50   hover:text-gray-400">No.of students</button>
                        </div>
                    </div>
                </button>
            </div>
            <div class="flex justify-between items-center w-full col-span-2 md:col-span-1 h-full">
                <div class="relative w-full h-full">
                    <input type="text" placeholder="Search Petition" [(ngModel)]="dataViewer.searchText"
                        (ngModelChange)="dataViewer.onSearchChange($event)"
                        class="w-full h-full outline-2 outline-red-950 border-red-950 border-2 rounded-md px-10 py-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="absolute top-1/2 left-3 transform -translate-y-1/2 w-5 h-5 text-red-950" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M11 4a7 7 0 100 14 7 7 0 000-14zM21 21l-4.35-4.35" />
                    </svg>
                </div>
            </div>
        </div>
        <div
            class="grid grid-cols-7 w-full h-12 bg-red-800 text-center  text-xs md:text-[16px] text-white rounded-t-md font-semibold justify-center items-center">
            <div class="leading-none">Date</div>
            <div class="leading-none">Subject Code</div>
            <div class="leading-none col-span-2">Subject Name</div>
            <div class="leading-none">Units</div>
            <div class="leading-none">No. of Students</div>
            <div class="leading-none">View</div>
        </div>
        <div *ngIf="dataViewer.getViewPetitionToDisplay().length!=0">
            <div *ngFor="let class of dataViewer.getViewPetitionToDisplay()" class="mt-2 grid grid-cols-7 w-full h-12 bg-red-300 text-center text-[12px] md:text-[14px] text-gray-900
                justify-center items-center">
                <div class=" leading-none">{{extras.formatDate(class.date_created)}}</div>
                <div class="leading-none">{{class.subject_code}}</div>
                <div class="col-span-2 leading-none">{{extras.toTitleCaseSafe(class.subject_name)}}</div>
                <div class="leading-none">{{class.units}}</div>
                <div [ngClass]="{'text-red-600': class.petition_count >=50,'text-green-600': class.petition_count <50 }"
                    class="font-bold leading-none">{{class.petition_count}}</div>
                <div class="">
                    <button (click)="isView=true;
                    subjectName=class.subject_name;dataViewer.pageIndex=0 ;modalfacultyProgram=class.program;
                        modalsubjectCode=class.subject_code;
                        modalsubjectName=class.subject_name; modalsubjectUnits=class.units;
                        fetchPetition(class.class_id);fetchDeniedPetition();"
                        class="w-3/4 h-full py-2 bg-red-500 hover:bg-red-800 rounded-md text-gray-50  hover:text-gray-300">
                        <p>View</p>
                    </button>
                </div>
            </div>
        </div>
        <div *ngFor="let class of dataViewer.multiplierCounter(dataViewer.getViewPetitionToDisplay().length) let i=index" class=" grid grid-cols-7 w-full h-12 mt-2 bg-red-300 text-center text-[12px] md:text-[14px] 
        justify-center items-center">
            <div class="col-span-7 text-center text-sm md:text-lg font-semibold"
                *ngIf="class==0 && dataViewer.getViewPetitionToDisplay().length==0">No data found
            </div>
        </div>
        <div class="w-full flex justify-between items-center text-black">
            <button (click)="dataViewer.prevList()"
                class="bg-red-500 hover:bg-red-800 w-20 h-full py-2 rounded-md text-gray-50  hover:text-gray-300">
                Prev
            </button>
            <button (click)="dataViewer.nextList(dataViewer.classList.length)"
                class="bg-red-500 hover:bg-red-800 w-20 h-full py-2 rounded-md text-gray-50  hover:text-gray-300">
                Next
            </button>
        </div>
    </div>
</div>


<div *ngIf="isView">
    <div class="animate-fadeIn fixed inset-0 flex items-center  justify-center bg-gray-900 bg-opacity-50 z-[100] ">
        <div
            class="w-full md:w-3/4 h-5/6 flex flex-col  bg-red-300  px-2 border-2 shadow-md shadow-red-900 border-red-400 rounded-md overflow-y-auto text-red-800 ">
            <!-- Header Section -->
            <div class="mt-auto sticky top-0 flex justify-between w-full bg-red-300 h-20 py-4 items-center">
                <p class="text-center text-xl md:text-3xl font-bold w-full leading-none ">{{extras.toTitleCaseSafe(subjectName)}}
                </p>
                <!-- Close Button -->
                <button (click)="isView=false"
                    class="flex w-8 h-8 py-1 bg-red-500  text-gray-50  hover:bg-red-800 hover:text-gray-300 rounded-full items-center justify-center text-[16px]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="size-4 stroke-red-50 hover:stroke-gray-300">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-auto sticky top-0 flex px-2 justify-between w-full bg-red-300  h-20 md:h-16 py-2 items-center ">
                <p class="text-lg leading-none md:text-xl text-left font-semibold w-full">List of Students:</p>
                <button *ngIf="facultyProgram!='STAFF'" (click)="isCalendarOpen=!isCalendarOpen"
                    class="flex justify-between items-center w-full sm:w-72 md:w-72 h-full px-8 bg-red-500    hover:bg-red-800 text-gray-50  hover:text-gray-300 rounded-md font-semibold leading-none text-sm md:text-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                        class="size-6 justify-center fill-gray-50  hover:fill-gray-300">
                        <path
                            d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                        <path fill-rule="evenodd"
                            d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z"
                            clip-rule="evenodd" />
                    </svg>
                    <span>Add Schedule</span>
                </button>
            </div>
            <div class="flex flex-col w-full text-sm h-full overflow-hidden ">
                <div class="w-full h-full  overflow-y-auto scrollbar-container ">
                    <div
                        class="grid grid-cols-12 h-12 overflow-hidden justify-center items-center text-center md:text-xl font-semibold ">
                        <p
                            class="col-span-3 p-2 h-full w-full bg-red-400 border-l-2 border-y-2 rounded-xl rounded-b-none rounded-r-none">
                            Tupv ID</p>
                        <p class="col-span-6 h-full w-full bg-red-400 border-y-2 p-2">Full Name</p>
                        <p
                            class="col-span-3 h-full w-full bg-red-400 border-y-2  p-2 border-r-2 rounded-xl rounded-l-none rounded-b-none">
                            Action</p>
                    </div>
                    <div *ngFor="let list of dataViewer.getFacultyViewStudent('pending') let i=index">
                        <div
                            class="grid grid-cols-12 bg-red-400 h-12 mt-2 text-center text-xs md:text-xl font-semibold">
                            <div class="col-span-3 flex justify-center items-center">
                                <p class="">{{list.tupv_id}}</p>
                            </div>
                            <div class="col-span-6 flex justify-center items-center">
                                <p class="">{{extras.toTitleCaseSafe(list.first_name+' '+list.last_name)}}</p>
                            </div>
                            <div class="col-span-3 h-full w-full text-lg flex justify-center items-center">
                                <button
                                    (click)="openModal=true; classId=list.class_id;petitionId=list.petition_id;studentId= list.student_id"
                                    class="flex justify-center items-center size-8">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="size-6 hover:fill-red-950">
                                        <path
                                            d="M10.375 2.25a4.125 4.125 0 1 0 0 8.25 4.125 4.125 0 0 0 0-8.25ZM10.375 12a7.125 7.125 0 0 0-7.124 7.247.75.75 0 0 0 .363.63 13.067 13.067 0 0 0 6.761 1.873c2.472 0 4.786-.684 6.76-1.873a.75.75 0 0 0 .364-.63l.001-.12v-.002A7.125 7.125 0 0 0 10.375 12ZM16 9.75a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 0-1.5h-6Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dataViewer.getFacultyViewStudent('pending').length<10">
                        <div *ngFor="let class of dataViewer.multiplierCounter(dataViewer.getFacultyViewStudent('pending').length) let i=index"
                            class=" grid grid-cols-7 w-full h-12 mt-2 bg-red-400 text-center text-[12px] md:text-[14px] 
                    justify-center items-center">
                            <div class="col-span-7 text-center text-sm md:text-lg font-semibold"
                                *ngIf="class==0 && dataViewer.getFacultyViewStudent('pending').length==0">No
                                data found
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-2">
                </div>
                <div class="mt-auto sticky bottom-0 bg-red-300 overflow-auto scrollbar-container z-[10] y-2 h-80">
                    <div class="grid grid-cols-12 text-center  md:text-xl font-semibold ">
                        <p class="col-span-12 text-lg text-left font-semibold">Denied Students:</p>
                        <p class="col-span-3">Tupv ID</p>
                        <p class="col-span-6">Full Name</p>
                        <p class="col-span-3">Action</p>
                    </div>
                    <div *ngIf="petitionListDenied.length!=0">
                        <div *ngFor="let list of petitionListDenied let i=index">
                            <div class="grid grid-cols-12 text-center  font-semibold text-xs md:text-lg">
                                <div class="col-span-3 flex justify-center items-center">
                                    <p class="">{{list.tupv_id}}</p>
                                </div>
                                <div class="col-span-6 flex justify-center items-center">
                                    <p class="">{{extras.toTitleCaseSafe(list.first_name+'
                                        '+list.last_name)}}</p>
                                </div>
                                <div class="col-span-3 h-full w-full flex justify-center items-center">
                                    <button
                                        (click)="updateStudentPetition(list.petition_id,'pending','','',list.student_id)"
                                        class="flex justify-center items-center size-8">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                            stroke="currentColor" class="size-6 hover:fill-red-950">
                                            <path
                                                d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="petitionListDenied.length==0">
                        <div class="grid grid-cols-12 text-center text-sm md:text-lg">
                            <div class="col-span-12 flex justify-center items-center">
                                <p class="text-sm md:text-lg font-semibold mt-2">No Data Found</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="openModal"
    class="animate-fadeIn fixed inset-0 flex items-center  justify-center bg-gray-900 bg-opacity-50 z-[100] ">
    <div
        class=" w-full md:w-[480px] h-[480px] flex flex-col overflow-auto scrollbar-container gap-y-2 p-8 items-start justify-center  bg-red-300  border-2 shadow-md shadow-red-900 border-red-400 rounded-md overflow-y-auto text-red-800 ">
        <div class="text-2xl text-center font-bold w-full">
            Removal of student
        </div>
        <div class="flex flex-col justify-center text-left gap-y-2 items-center h-full w-full">
            <div class="flex flex-col  h-full w-full">
                <label>Reason</label>
                <textarea class="textArea" name="reasons" maxlength="100"
                [(ngModel)]="reasons" required
                    placeholder="State your reason here"></textarea>
            </div>
            <div class="flex flex-col  h-full w-full">
                <label>Message</label>
                <textarea class="textArea" name="tupvId" maxlength="250" [(ngModel)]="message" required
                    placeholder="State your message here"></textarea>
            </div>
        </div>
        <div class="flex text-center text-sm font-semibold justify-center h-24 w-full">
            <p *ngIf="extras.errorMessage">{{extras.errorMessage}}</p>
        </div>
        <div class="flex justify-between w-full gap-x-4 pt-2">
            <button (click)="openModal=false"
                class="flex bg-orange-500 rounded-md text-gray-50  hover:bg-orange-800 hover:text-gray-300 justify-center items-center w-full h-12">
                Cancel
            </button>
            <button (click)="updateStudentPetition(petitionId,'denied',message,reasons,studentId)"
                class="flex bg-red-500  text-gray-50 rounded-md hover:bg-red-800 hover:text-gray-300 justify-center items-center w-full h-12">
                Submit
            </button>
        </div>
    </div>
</div>


<div *ngIf="isCalendarOpen"
    class="animate-fadeIn fixed inset-0 flex items-center  justify-center bg-gray-900 bg-opacity-50 z-[100] ">
    <div
        class=" w-full md:w-[480px] h-[480px] flex flex-col overflow-auto px-4 scrollbar-container gap-y-2  items-center justify-start  bg-red-300  border-2 shadow-md shadow-red-900 border-red-400 rounded-md overflow-y-auto text-red-800 ">
        <div class="flex mt-auto sticky top-0 justify-between pt-4 w-full h-12 bg-red-300 items-center">
            <p class="w-full text-center text-xl font-bold">
                Calendar Schedule
            </p>
            <button
                (click)="isCalendarOpen=false; totalHours='';saveTotalHours();calendar.isTime=false; calendar.calendarList=[]"
                class="size-7 py-1 bg-red-500  flex text-gray-50  hover:bg-red-800 hover:text-gray-300 rounded-full items-center justify-center text-[16px]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="size-4 stroke-red-50 hover:stroke-gray-300">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div class="flex flex-col  w-full h-full gap-x-2 gap-y-2 px-4 justify-center items-center">
            <app-calendar class="bg-white rounded-md w-full"></app-calendar>
            <p *ngIf="!calendar.isTime">{{extras.errorMessage}}</p>
            <div *ngIf="checkNumberOfHours()==0" class="flex w-full gap-x-2 ">
                <input type="text" class="w-full rounded-md outline-none border-red-500 border-2 p-2" id="totolHours"
                    [(ngModel)]="totalHours" placeholder="Total number of Hours">
                <button (click)="saveTotalHours()" class="w-full rounded-md p-2 text-red-200 font-semibold bg-red-500">
                    save
                </button>
            </div>
        </div>
    </div>
</div>