<!-- This page is for forget-password pages of student-->
<div class="w-full min-h-screen flex-cols">
    <div
        class="max-w-full w-full min-h-screen flex text-gray-50  items-start pt-12 pb-8 justify-center bg-gradient-to-t from-red-600 via-red-300 to-red-50 bg-cover bg-center bg-fixed">
        <div
            class="relative w-[400px] h-full flex flex-col items-center justify-center bg-black/20 backdrop-blur-lg rounded-lg border-red-300/30 border-2 shadow-lg ">
            <div class="w-full h-full">
                <img src="../../../assets/images/background.jpg" class="w-full h-40 rounded-t-lg object-cover">
            </div>
            <form class="relative w-full h-full flex flex-col z-10 space-y-2 p-6">
                <p class="text-center font-bold text-2xl">Reset Password</p>
                <div
                    class="flex rounded-md justify-between text-sm p-2 h-12 gap-x-2 w-full border-red-700 border-2 bg-transparent">
                    <div class="flex justify-center items-center h-full w-8 ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd"
                                d="M5.404 14.596A6.5 6.5 0 1 1 16.5 10a1.25 1.25 0 0 1-2.5 0 4 4 0 1 0-.571 2.06A2.75 2.75 0 0 0 18 10a8 8 0 1 0-2.343 5.657.75.75 0 0 0-1.06-1.06 6.5 6.5 0 0 1-9.193 0ZM10 7.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input type="text"
                        class="w-full outline-none border-none h-full text-red-50 placeholder:text-red-50 font-semibold bg-transparent"
                        name="email" id="email" [(ngModel)]="email" required placeholder="Email">
                </div>
                <div class="grid grid-cols-12 justify-center items-center w-full gap-x-2">
                    <div
                        class="rounded-md col-span-9 flex justify-between text-sm p-2 h-12 gap-x-2 w-full border-red-700 border-2 bg-transparent">
                        <div class="flex justify-center items-center h-full w-8 ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-6">
                                <path fill-rule="evenodd"
                                    d="M6.28 5.22a.75.75 0 0 1 0 1.06L2.56 10l3.72 3.72a.75.75 0 0 1-1.06 1.06L.97 10.53a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Zm7.44 0a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L17.44 10l-3.72-3.72a.75.75 0 0 1 0-1.06ZM11.377 2.011a.75.75 0 0 1 .612.867l-2.5 14.5a.75.75 0 0 1-1.478-.255l2.5-14.5a.75.75 0 0 1 .866-.612Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </div>
                        <div class="w-full flex justify-between gap-x-2">
                            <input type="text" id="otp" name="otp" [(ngModel)]="otp"
                                class="w-full outline-none border-none h-full text-red-50 placeholder:text-red-50 font-semibold bg-transparent"
                                required placeholder="OTP" />
                        </div>
                    </div>
                    <button (click)="sendOTP()" [disabled]="!disablerButton()" type="button"
                        [ngClass]="{'bg-gray-700 border-red-800 cursor-default hover:bg-gray-600 ': !disablerButton(),'bg-red-800 border-gray-800  cursor-pointer hover:bg-red-900':disablerButton()}"
                        class="col-span-3 w-full h-full text-xs border-2 rounded-md hover:text-gray-300 ">
                        <span *ngIf="!timerActive">Send OTP</span>
                        <span *ngIf="timerActive" class="text-[10px]">Time left: {{ timer }} Sec</span>
                    </button>
                </div>
                <div class="flex justify-between ">
                    <button (click)="onSubmit()"
                        class="bg-red-800 border-2 w-full h-12 rounded-md border-red-800 p-2 text-sm hover:bg-red-900">Reset
                        Password</button>
                </div>
                <div
                    class="h-5 py-2 text-center flex items-center justify-center w-full text-xs font-semibold text-red-50">
                    <p *ngIf="extras.errorMessage">{{extras.errorMessage}}</p>
                </div>
                <div class="flex flex-col text-center text-xs ">
                    <p>Want to login your account ? <span><a (click)="router.navigate(['/faculty/login'])"
                                class="cursor-pointer font-bold underline">Login</a></span></p>
                </div>
            </form>
        </div>
    </div>
</div>