<section class="w-full min-h-screen flex-cols">
    <div
        class="max-w-full w-full min-h-screen flex text-gray-50  items-start pt-12 pb-8 justify-center bg-gradient-to-t from-red-600 via-red-300 to-red-50 bg-cover bg-center bg-fixed">
        <!-- Semi-transparent overlay -->
        <div
            class="relative w-[400px] h-full flex flex-col items-center justify-center bg-red-300/20 backdrop-blur-lg rounded-lg border-red-300/30 border-2 shadow-lg ">
            <div class="w-full h-full">
                <img src="../../../assets/images/background.jpg" class="w-full h-40 rounded-t-lg object-cover">
            </div>
            <form class="relative w-full h-full flex flex-col z-10 space-y-2 p-6" (submit)="router.navigate(['/dashboard'])">
               <p class="text-center font-bold text-xl">Welcome back TUPVian</p>
                <div class="flex space-x-2">
                    <div class="flex flex-col pt-2 w-full">
                        <label>Firstname</label>
                        <input type="text" class="input" required placeholder="Firstname">
                    </div>
                    <div class="flex flex-col pt-2 w-full">
                        <label>Lastname</label>
                        <input type="text" class="input" required placeholder="Lastname">
                    </div>
                </div>
                <div class="flex flex-col pt-2">
                    <label>Username</label>
                    <input type="text" class="input" required placeholder="TUPV ID">
                </div>
                <div class="flex flex-col">
                    <label>Password</label>
                    <input type="password" class="input" required placeholder="Password">
                </div>
                <div class="flex flex-col">
                    <label>Confirm Password</label>
                    <input type="password" class="input" required placeholder="Confirm Password">
                </div>
                <div class="flex justify-between ">
                    <button type="submit"
                        class="bg-red-600 border-[1px] w-full border-red-800 p-2 text-sm hover:bg-red-700">Register</button>
                </div>
                <div class="flex flex-col text-center text-xs ">
                    <p>Already have an account? <span><a (click)="router.navigate(['/login'])"
                                class="cursor-pointer font-bold">Login</a></span></p>
                </div>
            </form>
        </div>
    </div>
</section>